<!DOCTYPE html>
{% extends 'productapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron">
	<div class="row">
	    <div class="col-md-3">
	    </div>
	    <div class="col-md-6">
	    {% if messages %}
	    {% for message in messages %}
	    <div class="alert alert-warning alert-dismissable" role="alert">
	    	<button class="close" data-dismiss="alert">
	    		<small><sup>x</sup></small>

	    	</button>
	    	{{ message }}
	    </div>
	    {% endfor %}
	    {% endif %}
		<h1>Login Here!</h1>
		<h3>Enter Your Credentials!</h3>
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{{ login_form|crispy }}
			<button type="submit" class="btn btn-success" style="width: 100%">Login</button>
		</form>
	</br>
		<center><p>Don't Have An Account?</p>
		<a href="{% url 'productapp:signup'%}">SignUp</a></center>
		</div>
	<div class="col-md-3">
	</div>
</div>
</div>

{% endblock %}