<!DOCTYPE html>
{% extends 'productapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron">
	<div class="row">
	    <div class="col-md-3">
	    </div>
	    <div class="col-md-6">
	    {% if messages %}
	    {% for message in messages %}
	    <div class="alert alert-success alert-dismissable" role="alert" id="alert">
	    	<button class="close" data-dismiss="alert">
	    		<small><sup>x</sup></small>

	    	</button>
	    	{{ message }}
	    </div>
	    {% endfor %}
	    {% endif %}


		<h1>View All Products</h1></br>
		<table class="table table-responsive-sm table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Product ID</th>
					<th scope="col">Product Name</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price</th>
					<th scope="col">Update</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for row in rows %}
			<tr>
				<td>{{ row.1 }}</td>
				<td>{{ row.2 }}</td>
				<td>{{ row.3 }}</td>
				<td>{{ row.4 }}</td>
				<td><a href="{% url 'productapp:update' row.1 %}">Update</a></td>
				<td><a href="{% url 'productapp:delete' row.1 %}">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</br>
	</div>
	<div class="col-md-3">
	</div>
</div>
</div>

{% endblock %}